<%= form_with(model: [:admin, admin_order], class: "contents", html: { id: 'orderForm' }) do |form| %>
  <% if admin_order.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(admin_order.errors.count, "error") %> prohibited this admin_order from being saved:</h2>
      <ul>
        <% admin_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :customer_email %>
    <%= form.text_field :customer_email, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>
  <div class="my-5">
    <%= form.label :fulfilled %>
    <%= form.check_box :fulfilled, class: "block mt-2 h-5 w-5" %>
  </div>
  <div class="my-5">
    <%= form.label :total %>
    <%= form.number_field :total, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", step: "0.01", min: "0", required: true, id: 'totalField' %>
  </div>
  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_field :address, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-coolMint text-white inline-block font-bold cursor-pointer" %>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('orderForm');
      const totalField = document.getElementById('totalField');

      form.addEventListener('submit', function (event) {
        let isValid = true;

        // Check if the total field is a valid number
        const totalValue = parseFloat(totalField.value);
        if (isNaN(totalValue) || totalValue < 0) {
          isValid = false;
          totalField.setCustomValidity('Please enter a valid number for total.');
          totalField.reportValidity();
        } else {
          totalField.setCustomValidity('');
        }

        if (!form.checkValidity() || !isValid) {
          event.preventDefault(); // Prevent form submission if not valid
        }
      });
    });
  </script>
<% end %>
