<nav class="fixed w-full top-0 bg-gray-800 z-10 py-4">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <!-- Container for navigation links (left side) -->
      <div class="flex items-center space-x-10">
        <div class="hidden sm:flex items-center space-x-10">
          <%= link_to 'Shop', root_path, class: "text-white hover:underline py-2 rounded-md text-md font-medium" %>
          <%= link_to 'Admin', admin_path, class: "text-white hover:underline py-2 rounded-md text-md font-medium" %>
        </div>
      </div>
      <!-- Container for logo (center) -->
      <div class="absolute left-1/2 transform -translate-x-1/2 flex items-center">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: 'block lg:hidden h-20 w-auto' %>
        <% end %>
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: 'hidden lg:block h-20 w-auto' %>
        <% end %>
      </div>
      <!-- Container for cart link (right side) -->
      <div class="hidden sm:flex ml-auto items-center space-x-10">
        <%= link_to cart_path, class: "text-white hover:underline py-2 rounded-md text-md font-medium" do %>
          <%= icon 'fa-solid', 'shopping-cart' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
