<%= form_with(model: [:admin, admin_category], class: "contents", html: { id: 'categoryForm' }) do |form| %>
  <% if admin_category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>
      <ul>
        <% admin_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>
  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>
  <div class="my-5">
    <%= form.label :image %>
    <%= form.file_field :image, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", accept: 'image/*', required: true, id: 'imageField' %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-coolMint text-white inline-block font-medium cursor-pointer" %>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('categoryForm');
      const imageField = document.getElementById('imageField');

      form.addEventListener('submit', function (event) {
        let isValid = true;

        // Validate image file
        const file = imageField.files[0];
        if (file && !file.type.startsWith('image/')) {
          isValid = false;
          imageField.setCustomValidity('Please upload a valid image file.');
          imageField.reportValidity();
        } else {
          imageField.setCustomValidity('');
        }

        if (!form.checkValidity() || !isValid) {
          event.preventDefault(); // Prevent form submission if not valid
        }
      });
    });
  </script>
<% end %>
