<div class="min-h-screen flex justify-center bg-white py-8 px-8">
  <!-- Filter Section -->
  <div class="flex flex-col mt-6 max-w-md bg-white p-6 shadow-lg rounded-lg flex-shrink-0 pr-6">
    <h2 class="text-lg text-gray-800 mb-4">Filter</h2>
    <%= form_with url: category_path(@category), method: :get, class: "flex flex-col space-y-4" do |form| %>
      <%= form.number_field :min, placeholder: "Min Price", class: "border border-gray-300 rounded-md p-2 w-full" %>
      <%= form.number_field :max, placeholder: "Max Price", class: "border border-gray-300 rounded-md p-2 w-full" %>
      <%= form.submit "Filter", class: "bg-coolMint text-white rounded-md p-2 cursor-pointer" %>
      <%= form.submit "Clear", class: "bg-gray-600 text-white rounded-md p-2 cursor-pointer" %>
    <% end %>
  </div>
  <!-- Products Section -->
  <div class="grid grid-cols-2 gap-10 mt-8 max-w-6xl mx-auto">
    <% if @products.empty? %>
      <p class="text-2xl text-left text-gray-800 col-span-2">No products found</p>
    <% else %>
      <% @products.each do |product| %>
        <div class="relative">
          <%= link_to product_path(product), class: "block" do %>
            <div class="flex flex-col bg-white p-4 shadow-lg rounded-lg items-center aspect-w-1 aspect-h-1">
              <%= product.images.first ? image_tag(product.images.first.variant(:medium), class: "w-full h-full object-cover rounded") : image_tag("http://via.placeholder.com/250", class: "w-full h-full object-cover rounded") %>
              <p class="mt-4 font-medium text-gray-800 text-center"><%= product.name %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
