<div class="min-h-screen flex justify-center bg-white py-8">
  <!-- Filter Section -->
  <div class="flex flex-col mt-6 max-w-md bg-white p-6 shadow-lg rounded-lg">
    <h2 class="text-lg text-gray-800 mb-4">Filter</h2>
    <%= form_with url: category_path(@category), method: :get, class: "flex flex-col space-y-4" do |form| %>
      <%= form.number_field :min, placeholder: "Min Price", class: "border border-gray-300 rounded-md p-2 w-full" %>
      <%= form.number_field :max, placeholder: "Max Price", class: "border border-gray-300 rounded-md p-2 w-full" %>
      <%= form.submit "Filter", class: "bg-coolMint text-white rounded-md p-2 cursor-pointer" %>
      <%= form.submit "Clear", class: "bg-gray-600 text-white rounded-md p-2 cursor-pointer" %>
    <% end %>
  </div>
  <!-- Products Section -->
  <div class="flex flex-wrap mt-6 gap-10 flex-grow justify-center items-start max-w-6xl">
    <% if @products.empty? %>
      <p class="text-2xl text-gray-800">No products found</p>
    <% else %>
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div class="max-w-xs flex flex-col p-4 bg-white shadow-lg rounded-lg">
            <%= product.images.first ? image_tag(product.images.first.variant(:medium), class: "rounded") : image_tag("http://via.placeholder.com/250", class: "rounded") %>
            <p class="mt-4 font-medium text-gray-800"><%= product.name %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
